#fudbal{
    display: none;
}

#tenis {
    display: none;
}

#kosarka{
    display: none;
}

table, td{
    border: 1px solid black;
}

div {
    width: 30px;
    height: 50px;
    display: flex;
    background: grey;
}

#frame {
    display: flex;
}